.inputBox {
  padding: 1rem 1rem;

  input {
    width: 100%;
    background: var(--gray-100);
    color: var(--gray-800);
    border: solid 1px var(--gray-100);
    line-height: 1.25;
    padding: 0.75rem 1rem;
    border-radius: 0.375rem;
    outline: none;
    &:focus {
      background: var(--white);
      border-color: var(--gray-500);
    }
  }
  .lineFitlers {
    display: flex;
    flex-direction: row;

    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      font-size: 0.7rem;
      font-weight: var(--medium);
      height: 2rem;
      padding: 2px;
      width: 4rem;
      background: var(--blue-100);
      border: solid 1px var(--blue-100);
      border-radius: 0.375rem;
      margin: 0.8rem;
      color: var(--gray-800);
      transition: filter 0.5s;
      cursor: pointer;
      &:hover {
        filter: brightness(0.8);
      }
      &:not(:first-child) {
        margin-left: 1rem;
      }
    }
    > span {
      margin-top: 1.1rem;
    }
  }
}
